<!DOCTYPE html>
<html>

 

<br>
<br>
<script language="JavaScript1.1">
<!--
var slideimages=new Array()
var slidelinks=new Array()
function slideshowimages(){
for (i=0;i<slideshowimages.arguments.length;i++){
slideimages[i]=new Image()
slideimages[i].src=slideshowimages.arguments[i]
}
}
function slideshowlinks(){
for (i=0;i<slideshowlinks.arguments.length;i++)
slidelinks[i]=slideshowlinks.arguments[i]
}
function gotoshow(){
if (!window.winslide||winslide.closed)
winslide=window.open(slidelinks[whichlink])
else
winslide.location=slidelinks[whichlink]
winslide.focus()
}
//-->
</script>
</head>


<br>
<br>
<font face="Consolas" size="6" color = "33FF33"><center>"WELCOME TO OUR TIC TAC TOE WEB PAGE!!<center></font><br>
<a href="javascript:gotoshow()"><center><img src="mm.png" name="slide" border=0 width=300 height=375></center></a>
<script>
<!--
//configure the paths of the images, plus corresponding target links
slideshowimages("mm.png","rules.png","board.png")
slideshowlinks("/minedminds","/rules","/playgame")
//configure the speed of the slideshow, in miliseconds
var slideshowspeed=4000
var whichlink=0
var whichimage=0
function slideit(){
if (!document.images)
return
document.images.slide.src=slideimages[whichimage].src
whichlink=whichimage
if (whichimage<slideimages.length-1)
  whichimage++
else
  whichimage=0
setTimeout("slideit()",slideshowspeed)
}
slideit()
//-->
</script>

<HTML>
  <head>
    <title>hey</title>
  </head>

  <body bgcolor="0066FF" text="ffffff">

<marquee><font face="Consolas" size="6">Click on a pic or a link from the menu bar above!!</font></marquee>

</body>
</HTML>

</script>

</body>












