<!DOCTYPE html>
<html>




<br>
<br>




</body>
</html>
</head>


<br>
<br>
</style>
<A HREF="http://www.minedminds.org"><center><IMG SRC="mm.png" ALT="Mined Minds"WIDTH=250 HEIGHT=200></center></A>
<br>
<br>
<A HREF="https://twitter.com/MinedMinds"><center><IMG SRC="twitter.png" ALT="Twitter"></center></A>
<br>
<br>
<A HREF="https://www.facebook.com/MinedMinds"><center><IMG SRC="facebook.jpg" ALT="Facebook" WIDTH=250 HEIGHT=200></center></A>

<HTML>
<head>
<title>hey</title>
</head>

<body bgcolor="blue" text="white">

<marquee><font face="consolas" size="6">To Learn more about Mined Minds Click the icons above!!</font></marquee>

</body>
</HTML>

</script>

</body>