<!DOCTYPE html>
<html>
<head><title>Welcome to Mined Minds</title></head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #696969;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover:not(.active) {
    background-color: #008B8B;
}
.active {
background-color:#0000FF;
}
</style>



</body>
</html>
</head>
<body bgcolor="#3399FF">
<ul>
  <li><a href="http://localhost:4567/">Home</a></li>
  <li><a href="http://localhost:4567/rules">Rules</a></li>
  <li><a href="http://localhost:4567/playgame">Play Game</a></li>
  <li><a class="active" href="http://localhost:4567/minedminds">Mined Minds</a></li>
</ul>
</style>
<A HREF="http://www.minedminds.org"><IMG SRC="mm.png" ALT="Mined Minds"WIDTH=250 HEIGHT=200></A>
<br>
<br>
<A HREF="https://twitter.com/MinedMinds"><IMG SRC="twitter.png" ALT="Twitter"></A>
<br>
<br>
<A HREF="https://www.facebook.com/MinedMinds"><IMG SRC="facebook.jpg" ALT="Facebook" WIDTH=250 HEIGHT=200></A>

<HTML>
<head>
<title>hey</title>
</head>

<body bgcolor="blue" text="red">

<marquee><font face="consolas" size="6">To Learn more about Mined Minds Click the icons above!!</font></marquee>

</body>
</HTML>

</script>
<p align="center"><font face="consolas" size="2">This Page was created by Mined Minds</font><br>
<font face="consolas, consolas" size="2"><a href="mailto:info@minedminds.org">Contact Us!</a> </font></p>
</body>
