<!DOCTYPE html>
<html>
<head><title>Welcome to Mined Minds</title></head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #696969;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover:not(.active) {
    background-color: #008B8B;
}
.active {
background-color:#0000FF;
}
</style>
<script language="JavaScript1.1">
<!--
/*
JavaScript Image slideshow:
By JavaScript Kit (www.javascriptkit.com)
Over 200+ free JavaScript here!
*/
var slideimages=new Array()
var slidelinks=new Array()
function slideshowimages(){
for (i=0;i<slideshowimages.arguments.length;i++){
slideimages[i]=new Image()
slideimages[i].src=slideshowimages.arguments[i]
}
}
function slideshowlinks(){
for (i=0;i<slideshowlinks.arguments.length;i++)
slidelinks[i]=slideshowlinks.arguments[i]
}
function gotoshow(){
if (!window.winslide||winslide.closed)
winslide=window.open(slidelinks[whichlink])
else
winslide.location=slidelinks[whichlink]
winslide.focus()
}
//-->
</script>
</head>
<body bgcolor="#00FF00">
<ul>
  <li><a href="http://localhost:4567/">Home</a></li>
  <li><a href="http://localhost:4567/rules">Rules</a></li>
  <li><a class="active"href="http://localhost:4567/playgame">Play Game</a></li>
  <li><a href="http://localhost:4567/minedminds">Mined Minds</a></li>
</ul>
<a href="javascript:gotoshow()"><img src="mm.png" name="slide" border=0 width=300 height=375></a>
<script>
<!--
//configure the paths of the images, plus corresponding target links
slideshowimages("ttt.png")
slideshowlinks("/Users/marvinlaucher/web_tic_tac_toe/online_version.rb")
//configure the speed of the slideshow, in miliseconds
var slideshowspeed=4000
var whichlink=0
var whichimage=0
function slideit(){
if (!document.images)
return
document.images.slide.src=slideimages[whichimage].src
whichlink=whichimage
if (whichimage<slideimages.length-1)
whichimage++
else
whichimage=0
setTimeout("slideit()",slideshowspeed)
}
slideit()
//-->
</script>

<HTML>
<head>
<title>hey</title>
</head>

<body bgcolor="blue" text="red">

<marquee><font face="Times New Roman" size="6">To Play Tic Tac Toe click on the icon above!!</font></marquee>

</body>
</HTML>

</script>
<p align="center"><font face="arial" size="-2">This Page was created by Mined Minds</font><br>
<font face="arial, helvetica" size="-2"><a href="http://minedminds.org">Click to Visit Mined Minds web page</a></font></p>
</body>