<!DOCTYPE html>
<html>
<head><title>Welcome to Mined Minds</title></head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #696969;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover:not(.active) {
    background-color: #008B8B;
}
.active {
background-color:#0000FF;
}
</style>
</head>
<body>

<ul>
  <li><a  href="http://localhost:4567/">Home</a></li>
  <li><a href="http://localhost:4567/rules">Rules</a></li>
  <li><a class="active" href="http://localhost:4567/playgame">Play Game</a></li>
  <li><a href="http://localhost:4567/minedminds">Mined Minds</a></li>
</ul>

</body>
</html>
<h1>Let's play Tic Tac Toe!</h1>