<!DOCTYPE html>
<html>

<br>
<br>

</head>


<br>
<br>
<A HREF="/tictactoe"><center><IMG SRC="board.png" ALT="Play Game"></center></A>




<body bgcolor="blue" text="980000">

<marquee><b><font face="consolas" size="8">What are you waiting for, let's play!!</font></b></marquee>

</body>
</HTML>



