<!DOCTYPE html>
<html>


<br>
<br>




</head>


<br>
<br>
<A HREF="https://en.wikipedia.org/wiki/Tic-tac-toe#Strategy"><center><IMG SRC="rules.png" ALT="Rules"WIDTH=250 HEIGHT=200></center></A>

<HTML>
<head>
<title>hey</title>
</head>

<body bgcolor="blue" text="white">

<marquee><font face="consolas" size="6">To Learn more about The Rules of Tic Tac Toe Click on the Rule Book Above!!</font></marquee>

</body>
</HTML>

</script>

</body>
