<!DOCTYPE html>
<html>


<br>
<br>







<br>
<br>
<A HREF="https://en.wikipedia.org/wiki/Tic-tac-toe#Strategy"><center><IMG SRC="rules2.png.gif" ALT="Rules"></center></A>




<body bgcolor="blue" text="980000">

<marquee><b><font face="consolas" size="8">Learn how to play a perfect Tic Tac Toe game!!</font></b></marquee>

</body>
</HTML>



